<md-toolbar color="primary" class="fixed-header">
    <md-icon svgIcon="angular"></md-icon>
    <span>{{title}}</span>
</md-toolbar>

<div class="app-content">
    <md-card>
        <md-card-content>
            <h2>Counter: {{ model | async }}</h2>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" title="Increment value" (click)="increment()">
                <md-icon>add</md-icon>
                <!-- Increment -->
            </button>
            <button md-raised-button color="warn" title="Decrement value" (click)="decrement()">
                <md-icon>remove</md-icon>
                <!-- Decrement -->
            </button>
        </md-card-actions>
    </md-card>
</div>